{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Task manager</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">{{user.username}}</a>
      </li>
      {% if user.is_authenticated %}
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'home' %}">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'addtask' %}">Add Task</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'home' %}">Help</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'logout' %}">Log out</a>
      </li>
      {% else %}
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'login' %}">Log in</a>
      </li>
      {% endif %}
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <div id="heading"><h1 class="mb-1">PCAD's Task manager</h1>Hibret</div>
      <h3 class="mb-5">
        <em>A Custom made task manager</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'home' %}">Let's gotta work</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Manage Tasks and Guarenties from anywhere you are!</h2>
          <p class="lead mb-5">Reminder of dates.
            <a href="https://unsplash.com/">reliable</a>!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>All tasks</strong>
          </h4>
          <p class="text-faded mb-0">Guarentees date management</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Incompleted</strong>
          </h4>
          <p class="text-faded mb-0">reminder of guarentees dates</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Done</strong>
          </h4>
          <p class="text-faded mb-0">Activities marked as finished</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Todo List</strong>
          </h4>
          <p class="text-faded mb-0">A scheduler to plan and follow up</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">"The best Leaders are strongly motivated to advance their own careers,and
         really care about the people they're working with they serve."</h3>
        <h2 class="mb-5">Always Remember these words</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Raoul Vaneigem</div>
                <p class="mb-0">"Purchasing power is a license to purchase power"</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-1.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Munia Khan</div>
                <p class="mb-0">"You cannot buy trust,you have to earn it"</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-2.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Ralph Waldo Emersen</div>
                <p class="mb-0">"Money is of no value;it cannot spend itself.All depends on the skill of the spender."</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-3.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Sunday Adejela</div>
                <p class="mb-0">"Anything anybody has was purchased with the currency of time."</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-4.jpg' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

 
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; pcadbub Website 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <style type="text/css">
    #heading{
      display: inline-flex;
    }
  </style>

</body>

</html>
